@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
     background: #FFFFFF;
     color: #000000;
     font-family: 'Roboto', sans-serif;
     font-weight: 400;
     font-size: 16pt;
     margin: 0;
}

/* header style */
.header {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-column-gap: 10px;
	margin: 0 60px;
	height: 100px;
}

.header-logo {
	display: flex;
	align-items: center;
	justify-content: left;
}

.logo-icon {
	width: 120px;
}

.header-nav {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	padding: 0 20px;
}

.navlink {
	color: #000000;
	text-decoration: none;
	margin: 8px;
}

.navlink:hover {
	text-decoration: underline;
	text-decoration-thickness: 2px;
}

.logo-text {
	font-size: 24pt;
	font-weight: 900;
}
/* ------------------------------- */

.content {
  display: grid;
  grid-template-rows: 10px 386px 330px;
}

.rectangle_1 {
	grid-row: 2/3;
	background-color: #7248B8;
	
	display: grid;
	grid-template-columns: repeat(9, 1fr);
}
.slogan {
	grid-column: 3/8;
	padding-top: 127px;
	font-size: 46px;
	color: #FFFFFF;
	font-weight: 600;
}

.rectangle_2 {
	grid-row: 3/-1;
	
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.button_rasp {
	grid-column: 3/5;
	grid-row: 2/3;
	text-align: center;
	font-size: 26px;
}

.button_map {
	grid-column: 6/8;
	grid-row: 2/3;
	text-align: center;
	font-size: 26px;
}

a.button_1{
	background-color: #7248B8;
	padding: 28px 80px;
	font-size: 28px;
	color: #FFFFFF;
	border-radius: 10px;
	
}

a.button_1:hover{
	color: #A0A69F;
	background-color: #E3E0E0;
}

a.button_2{
	background-color: #7248B8;
	padding: 28px 114px;
	font-size: 28px;
	color: #FFFFFF;
	border-radius: 10px;
	
}

a.button_2:hover{
	color: #A0A69F;
	background-color: #E3E0E0;
}

.about-content {
	display: grid;
	grid-template-rows: 10px 650px 100px;
}

.about-rectangle {
	grid-row: 2/3;
	background-color: #7248B8;
	
	display: grid;
	grid-template-rows: 130px 520px;
	grid-template-columns: 305px 830px 305px;
}

.about-header {
	grid-row: 1/2;
	grid-column: 2/3;
	padding-top: 60px;
	font-size: 32px;
	color: #FFFFFF;
	font-weight: 600;
}

.about-text {
	grid-row: 2/-1;
	grid-column: 2/3;
	padding-top: 60px;
	font-size: 24px;
	color: #FFFFFF;
}

.map-content {
	display: grid;
	grid-template-rows: 10px 700px 100px;
}

.map-rectangle {
	grid-row: 2/3;
	background-color: #7248B8;
	
	display: grid;
	grid-template-rows: 130px 460px 196px;
	grid-template-columns: 305px 830px 305px;
}

.map-header {
	grid-row: 1/2;
	grid-column: 2/3;
	padding-top: 60px;
	font-size: 32px;
	color: #FFFFFF;
	font-weight: 600;
}

.map-img {
	grid-row: 2/3;
	grid-column: 2/3;
}

/* footer style */
.footer {
	display: flex;
	align-items: center;
	background-color: #F3F5F6;
	padding: 0 35px;
	font-size: 14px;
	height: 90px;
}
/* ------------ */

.unactive, .unactive:hover, .unactive:focus {
	color: #afafaf!important;
	text-decoration: none!important;
}