@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
	--accent:  #7248B8;
	--light: #FFFFFF;
	--additional: #78c6ec;
	--grey: #cccccc;
}

body {
     background: #FFFFFF;
     color: #000000;
     font-family: 'Roboto', sans-serif;
     font-weight: 400;
     font-size: 16pt;
     margin: 0;
}

/* header style */
.header {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-column-gap: 10px;
	margin: 0 60px;
	height: 100px;
	background-color: #FFFFFF;
}

.header-logo {
	display: flex;
	align-items: center;
	justify-content: left;
}

.logo-icon {
	width: 120px;
}

.header-nav {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	padding: 0 20px;
}

.navlink {
	color: #000000;
	text-decoration: none;
	margin: 8px;
}

.navlink:hover {
	text-decoration: underline;
	text-decoration-thickness: 2px;
}

.logo-text {
	font-size: 24pt;
	font-weight: 900;
}
/* ------------------------------- */

/* content style */
.content-box, .content-box.dark{
	background-color: var(--accent);
	padding: 100px 20%;
	color: var(--light);
}
.slogan {
	font-size: 46px;
	color: var(--light);
	font-weight: 600;
}

button, button.dark {
	text-align: center;
	background-color: var(--accent);
	border-style: none;
	color: var(--light);
	margin: 20px;
	border-radius: 20px;
	transition-duration: .2s;
	transition-property: background-color;
	transition-timing-function: linear;
}

button:hover {
	cursor: pointer;
	background-color: var(--additional);
}

button.light {
	background-color: var(--light);
	color: var(--accent);
}

button.main {
	height: 100px;
	width: 200px;
	font-size: 18pt;
}

.button-container {
	display: flex;
	justify-content: center;
	grid-column-gap: 70px;
}
/* ----------------------- */

/* footer style */
.footer {
	display: flex;
	align-items: center;
	background-color: var(--grey);
	padding: 0 35px;
	font-size: 14px;
	height: 90px;
}
/* ------------ */

.map-content {
	display: grid;
	grid-template-rows: 10px 700px 100px;
}

.map-rectangle {
	grid-row: 2/3;
	background-color: #7248B8;
	
	display: grid;
	grid-template-rows: 130px 460px 196px;
	grid-template-columns: 305px 830px 305px;
}

.map-header {
	grid-row: 1/2;
	grid-column: 2/3;
	padding-top: 60px;
	font-size: 32px;
	color: #FFFFFF;
	font-weight: 600;
}

.map-img {
	grid-row: 2/3;
	grid-column: 2/3;
}

.unactive, .unactive:hover, .unactive:focus {
	color: #afafaf!important;
	cursor: unset!important;
	text-decoration: none!important;
}

button.unactive, button.unactive:hover, button.unactive:focus {
	background-color: var(--grey)!important;
}