@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
     background: #FFFFFF;
     color: #000000;
     font-family: 'Roboto', sans-serif;
     font-weight: 400;
     font-size: 18px;
     margin: 0;
}

a{
	text-decoration: none;
}

.header {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 156px 1fr;
}

.header-logo {
	display: grid;
	grid-template-columns: 2fr 1fr;
}
.logo-icon {
	background-image: url(images/icon.png);
	background-size: cover;
	background-position: center;
	width: 50%;
	height: 50%;
	margin-left: 125px;
	margin-top: 15px;
}

.logo-text{
  height: 48px;
  font-size: 20px;
  padding-top: 47px;
  font-weight: 600;
}

.header-nav{
	display: grid;
	grid-template-columns: repeat(3, auto);
  height: 38px;
  text-align: center;
  font-size: 18px;
  padding-top: 51px;
}

a.header-nav_link{
  color: #000000;
}

a.header-nav_link:hover{
	color: #878787;
}

.content {
  display: grid;
  grid-template-rows: 10px 386px 330px;
}

.rectangle_1 {
	grid-row: 2/3;
	background-color: #7248B8;
	
	display: grid;
	grid-template-columns: repeat(9, 1fr);
}
.slogan {
	grid-column: 3/8;
	padding-top: 127px;
	font-size: 46px;
	color: #FFFFFF;
	font-weight: 600;
}

.rectangle_2 {
	grid-row: 3/-1;
	
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.button_rasp {
	grid-column: 3/5;
	grid-row: 2/3;
	text-align: center;
	font-size: 26px;
}

.button_map {
	grid-column: 6/8;
	grid-row: 2/3;
	text-align: center;
	font-size: 26px;
}

a.button_1{
	background-color: #7248B8;
	padding: 28px 80px;
	font-size: 28px;
	color: #FFFFFF;
	border-radius: 10px;
	
}

a.button_1:hover{
	color: #A0A69F;
	background-color: #E3E0E0;
}

a.button_2{
	background-color: #7248B8;
	padding: 28px 114px;
	font-size: 28px;
	color: #FFFFFF;
	border-radius: 10px;
	
}

a.button_2:hover{
	color: #A0A69F;
	background-color: #E3E0E0;
}

.about-content {
	display: grid;
	grid-template-rows: 10px 650px 100px;
}

.about-rectangle {
	grid-row: 2/3;
	background-color: #7248B8;
	
	display: grid;
	grid-template-rows: 130px 520px;
	grid-template-columns: 305px 830px 305px;
}

.about-header {
	grid-row: 1/2;
	grid-column: 2/3;
	padding-top: 60px;
	font-size: 32px;
	color: #FFFFFF;
	font-weight: 600;
}

.about-text {
	grid-row: 2/-1;
	grid-column: 2/3;
	padding-top: 60px;
	font-size: 24px;
	color: #FFFFFF;
}

.map-content {
	display: grid;
	grid-template-rows: 10px 700px 100px;
}

.map-rectangle {
	grid-row: 2/3;
	background-color: #7248B8;
	
	display: grid;
	grid-template-rows: 130px 460px 196px;
	grid-template-columns: 305px 830px 305px;
}

.map-header {
	grid-row: 1/2;
	grid-column: 2/3;
	padding-top: 60px;
	font-size: 32px;
	color: #FFFFFF;
	font-weight: 600;
}

.map-img {
	grid-row: 2/3;
	grid-column: 2/3;
}

.footer {
	display: grid;
	grid-template-rows: 60px 1fr;
	background-color: #F3F5F6;
	padding-top: 45px;
	padding-left: 35px;
	font-size: 14px;
}